In [87]:
# installer le package manquant (magics doivent être utilisés dans les notebooks)
%pip install seaborn

#importationdes packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.7)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [73]:
#preparation du jeu de donnees
data=pd.read_csv('Wholesale customers data.csv')
data.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [74]:
#supression des donnees manquantes
data.dropna()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

### Question 1.1 : Importation et première découverte

Chargez le dataset et répondez aux questions suivantes :

a) Combien de clients (lignes) et de variables (colonnes) le dataset contient-il ?

In [75]:
data.shape

(440, 8)

In [76]:
# Liste des variables
print(data.columns)

# Types de variables
print(data.dtypes)

Index(['Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen',
       'Detergents_Paper', 'Delicassen'],
      dtype='object')
Channel             int64
Region              int64
Fresh               int64
Milk                int64
Grocery             int64
Frozen              int64
Detergents_Paper    int64
Delicassen          int64
dtype: object

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

d) Affichez les statistiques descriptives (moyenne, médiane, écart-type, min, max) pour chaque variable de dépenses.

In [78]:
# Vérification des valeurs manquantes
print(data.isnull().sum())

Channel             0
Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64

In [79]:
missing_percent = data.isnull().mean() * 100
print(missing_percent)

Channel             0.0
Region              0.0
Fresh               0.0
Milk                0.0
Grocery             0.0
Frozen              0.0
Detergents_Paper    0.0
Delicassen          0.0
dtype: float64

In [80]:
#affichage des statistiques descriptives
data.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [81]:
#affichage de la moyennne
data.mean()

Channel                 1.322727
Region                  2.543182
Fresh               12000.297727
Milk                 5796.265909
Grocery              7951.277273
Frozen               3071.931818
Detergents_Paper     2881.493182
Delicassen           1524.870455
dtype: float64

In [82]:
#affichage de la mediane
data.median()

Channel                1.0
Region                 3.0
Fresh               8504.0
Milk                3627.0
Grocery             4755.5
Frozen              1526.0
Detergents_Paper     816.5
Delicassen           965.5
dtype: float64

In [83]:
#affichage de l'ecart type
data.std()

Channel                 0.468052
Region                  0.774272
Fresh               12647.328865
Milk                 7380.377175
Grocery              9503.162829
Frozen               4854.673333
Detergents_Paper     4767.854448
Delicassen           2820.105937
dtype: float64

### Question 1.2 : Analyse des distributions

a) Pour chaque catégorie de produit, quelle est l'étendue des dépenses (minimum et maximum) ? Que remarquez-vous sur les échelles ?

In [84]:
# Min et max par catégorie
depenses_min = data.min(numeric_only=True)
depenses_max = data.max(numeric_only=True)
#affichage des resultats min et max 
print("Dépenses minimales par catégorie :\n", depenses_min)
print("Dépenses maximales par catégorie :\n", depenses_max)

Dépenses minimales par catégorie :
 Channel              1
Region               1
Fresh                3
Milk                55
Grocery              3
Frozen              25
Detergents_Paper     3
Delicassen           3
dtype: int64
Dépenses maximales par catégorie :
 Channel                  2
Region                   3
Fresh               112151
Milk                 73498
Grocery              92780
Frozen               60869
Detergents_Paper     40827
Delicassen           47943
dtype: int64

In [95]:


# Boxplots pour toutes les catégories
plt.figure(figsize=(12,6))
sns.boxplot(data=data['Channel',	'Region'	,'Fresh'	,'Milk'	,'Grocery'	,'Frozen'	,'Detergents_Paper'	,'Delicassen'])  # numeric_columns = liste des colonnes de dépenses
plt.xticks(rotation=45)
plt.title("Boxplots des dépenses par catégorie")
plt.show()

KeyError: ('Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen', 'Detergents_Paper', 'Delicassen')

In [94]:
#Histogrammes individuels

for col in numeric_columns:
    plt.figure()
   # sns.histplot(data[col], bins=30, kde=True)
    plt.title(f"Distribution des dépenses - {col}")
    plt.show()

NameError: name 'numeric_columns' is not defined

In [ ]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.2)
Requirement already satisfied: scipy>=1.8.0 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\lamin\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:

from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
#normalisation des donnees
scaler = StandardScaler()
x_scaled_data = scaler.fit_transform(data)
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x_scaled_data)
print(data.shape)
print(principalComponents.shape)

(440, 8)
(440, 2)

In [ ]:
from sklearn.cluster import KMeans
#Kmeans sans pca
start=time.perf_counter()
kmeans = KMeans(n_clusters=5, random_state=42, n_init=10)
kmeans.fit(x_scaled_data)
print(f"inertia sans pca: {kmeans.inertia_:.4f}")
end=time.perf_counter()
print(f"temps d'execution sans pca: {end-start:.4f} secondes")

inertia sans pca: 1551.6677
temps d'execution sans pca: 0.0542 secondes

*Avec PCA*

In [ ]:

#Kmeans avec pca
pca = PCA(n_components=3)
principal_component = pca.fit_transform(x_scaled_data)
start = time.perf_counter()
kmeans_pca = KMeans(n_clusters=3, random_state=42, n_init=10)
# fit the KMeans instance for PCA-transformed data
kmeans_pca.fit(principal_component)
print(f"inertia avec pca: {kmeans_pca.inertia_:.4f}")
end = time.perf_counter()
print(f"temps d'execution avec pca: {end-start:.4f} secondes")

inertia avec pca: 1322.2223
temps d'execution avec pca: 0.0519 secondes